<!doctype html>


<html lang="en" class="no-js">
<head>
	<title>Laboq</title>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen">	
	<link rel="stylesheet" type="text/css" href="css/magnific-popup.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/flexslider.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="css/responsive.css" media="screen">
	
</head>
<body>

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		<header>
			<div class="left-part">
				<a class="logo" href="#"><img alt="" src="images/logo.png"></a>
			</div>
			<div class="right-part">
				<div class="menu-box">
					<ul class="menu">
						<li><a href="index.html"><span>Home</span></a></li>
						<li><a href="about.html"><span>About</span></a></li>
						<li class="drop"><a class="active" href="blog.html"><span>blog</span></a>
							<ul class="drop-down">
								<li><a href="blog.html"><span>Blog</span></a></li>
								<li><a href="blog-sidebar.html"><span>Blog with sidebar</span></a></li>
								<li><a href="single-post.html"><span>Single Post</span></a></li>
							</ul>
						</li>
						<li><a href="contact.html"><span>Contact</span></a></li>
					</ul>				
				</div>
				<div class="contact-info-box">
					<h1>Contact Info</h1>
					<p>
						<span><i class="fa fa-envelope-o"></i>support@convertible.com</span>
						<span><i class="fa fa-phone"></i>1234 - 5678 - 9012</span>
					</p>
				</div>
			</div>
		</header>
		<!-- End Header -->

		<!-- content 
			================================================== -->
		<div id="content">
			<div class="inner-content">
				<div class="blog-page">
					<div class="container">
						<div class="blog-box">

							<div class="blog-post">
								<img alt="" src="upload/blog1.jpg">
								<div class="postblog-content">
									<ul class="post-tags">
										<li>
											<p>premiumlayers</p>
											<span><i class="fa fa-user"></i></span>
										</li>
										<li>
											<p>138 likes</p>
											<span><i class="fa fa-heart"></i></span>
										</li>
										<li>
											<p>14 February, 2014</p>
											<span><i class="fa fa-calendar"></i></span>
										</li>
										<li>
											<p><a href="#">4 Comments</a></p>
											<span><i class="fa fa-comment"></i></span>
										</li>
									</ul>
									<div class="blog-content">
										<h2>Making the Envato Marketplaces Responsive</h2>
										<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent</p>
										<a class="read-more" href="single-post.html">Read More</a>
									</div>
								</div>
							</div>

							<div class="blog-post">
								<img alt="" src="upload/blog2.jpg">
								<div class="postblog-content">
									<ul class="post-tags">
										<li>
											<p>premiumlayers</p>
											<span><i class="fa fa-user"></i></span>
										</li>
										<li>
											<p>138 likes</p>
											<span><i class="fa fa-heart"></i></span>
										</li>
										<li>
											<p>14 February, 2014</p>
											<span><i class="fa fa-calendar"></i></span>
										</li>
										<li>
											<p><a href="#">4 Comments</a></p>
											<span><i class="fa fa-comment"></i></span>
										</li>
									</ul>
									<div class="blog-content">
										<h2>Coming Soon: Visual Refresh</h2>
										<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent</p>
										<a class="read-more" href="single-post.html">Read More</a>
									</div>
								</div>
							</div>

							<div class="blog-post">
								<img alt="" src="upload/blog3.jpg">
								<div class="postblog-content">
									<ul class="post-tags">
										<li>
											<p>premiumlayers</p>
											<span><i class="fa fa-user"></i></span>
										</li>
										<li>
											<p>138 likes</p>
											<span><i class="fa fa-heart"></i></span>
										</li>
										<li>
											<p>14 February, 2014</p>
											<span><i class="fa fa-calendar"></i></span>
										</li>
										<li>
											<p><a href="#">4 Comments</a></p>
											<span><i class="fa fa-comment"></i></span>
										</li>
									</ul>
									<div class="blog-content">
										<h2>Creative Brand Design</h2>
										<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent</p>
										<a class="read-more" href="single-post.html">Read More</a>
									</div>
								</div>
							</div>

							<div class="blog-post">
								<img alt="" src="upload/blog4.jpg">
								<div class="postblog-content">
									<ul class="post-tags">
										<li>
											<p>premiumlayers</p>
											<span><i class="fa fa-user"></i></span>
										</li>
										<li>
											<p>138 likes</p>
											<span><i class="fa fa-heart"></i></span>
										</li>
										<li>
											<p>14 February, 2014</p>
											<span><i class="fa fa-calendar"></i></span>
										</li>
										<li>
											<p><a href="#">4 Comments</a></p>
											<span><i class="fa fa-comment"></i></span>
										</li>
									</ul>
									<div class="blog-content">
										<h2>Dev Team Tech Demo</h2>
										<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent</p>
										<a class="read-more" href="single-post.html">Read More</a>
									</div>
								</div>
							</div>
							<a class="older-posts" href="#">Older Posts</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End content -->

		<footer>
			<p>&#169; 2014 laboq inc,  All Rights Reserved</p>
			<ul class="social-icons">
				<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a class="rss" href="#"><i class="fa fa-rss"></i></a></li>
				<li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
				<li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>						
			</ul>
		</footer>

	</div>
	<!-- End Container -->

	<div class="preloader">
		<img alt="" src="images/preloader.GIF">
	</div>

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery.migrate.js"></script>
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
  	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="js/plugins-scroll.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/retina-1.1.0.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>


</body>
</html>