<%= provide(:title, 'Home') %>
		<!-- content 
			================================================== -->
		<div id="content">
			<div class="inner-content">

				<div class="about-page">
					<div class="container">
						<div class="row">
							<div class="col-md-9">
								<div class="about-content">
									<img alt="" src="#" style="width: 350px; height=300px; float: left; margin: 0px 20px 0px 0px;">
									<h1>About company</h1>
									<p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </p>
									<p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. </p>
									<p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
								</div>
							</div>

							<div class="col-md-3 sidebar">							
								<div class="widget doing-list-widget">
									<h2>Services</h2>
									<ul class="doing-list">
										<li><span>website design</span></li>
										<li><span>Photography</span></li>
										<li><span>plugin development</span></li>
										<li><span>Front End</span></li>
										<li><span>Design from Scratch</span></li>
										<li><span>Website Maintenance</span></li>
									</ul>
								</div>
							</div>

							<div style="clear: both;"></div>
							
						</div>
					

						<div class="row">
							<div class="col-md-12">			
								<div class="portfolio-box">
									<h1>Our portfolio</h1>

									<div class="project-post">
										<div class="galery-box">
											<a href="upload/1.jpg" class="zoom">
												<img alt="" src="upload/1.jpg">
												<span>logo</span>
											</a>							
										</div>
										<div class="content-box">
											<h2><a href="single-project.html">Creative Brand Design</a></h2>
											<p>logo design for lorem company</p>
										</div>
									</div>

									<div class="project-post">
										<div class="galery-box">
											<a href="upload/2.jpg" class="zoom">
												<img alt="" src="upload/2.jpg">
												<span>logo</span>
											</a>							
										</div>
										<div class="content-box">
											<h2><a href="single-project.html">Creative Brand Design</a></h2>
											<p>logo design for lorem company</p>
										</div>
									</div>

									<div class="project-post">
										<div class="galery-box">
											<a href="upload/3.jpg" class="zoom">
												<img alt="" src="upload/3.jpg">
												<span>logo</span>
											</a>							
										</div>
										<div class="content-box">
											<h2><a href="single-project.html">Creative Brand Design</a></h2>
											<p>logo design for lorem company</p>
										</div>
									</div>

									<div class="project-post">
										<div class="galery-box">
											<a href="upload/3.jpg" class="zoom">
												<img alt="" src="upload/3.jpg">
												<span>logo</span>
											</a>							
										</div>
										<div class="content-box">
											<h2><a href="single-project.html">Creative Brand Design</a></h2>
											<p>logo design for lorem company</p>
										</div>
									</div>

								</div>
							</div>
						</div>
						<a class="show-more" href="#">Show more</a>

					</div>
				</div>
			</div>
		</div>
		<!-- End content -->
