<% provide(:title, 'Admin') %>
<div>Административная панель</div>

<ul>
  <li><%= link_to "Пользователи", admin_users_path %></li>
</ul>

<!-- <p>
	<b>Подсказка по CSS оформлению текста</b>
	<div class="color-green"> class="color-green" - зелёный цвет</div>
	<div class="color-red"> class="color-red" - красный цвет</div>
	<div class="color-yellow"> class="color-yellow" - жёлтый цвет</div>
	<div class="color-blue"> class="color-blue" - синий цвет</div>
  </br>
  <div>class="center" - центрирование</div>
  <div>class="fix-position" - фиксированная позиция</div>
  <div>class="thema-text" - название темы (font: 20pt sans-serif; margin: 5px 5px 25px 0px;)</div>

</p>-->

