/* Для прижатия футера к нижней границе страницы */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  padding-top: 30px; //отступ для контента от верхнего края

  .page-wrapper {
    min-height: 100%;
    margin-bottom: -200px;
    height: 100%;
  }

  .page-buffer {
    height: 200px;
  }
}