<footer class="footer" style="border: 4px double black;">
	<div>
	  <small>
	    Created by Galiullov Albert
	  </small>
	</div>
  <nav>
    <ul>
      <li><%= link_to "albertulgu@list.ru", '#' %></li>
    </ul>
  </nav>
</footer>