<header>
	<div class="navbar navbar-fixed-top navbar-inverse">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	      </a>
	      <%= link_to (I18n.t "application.controller.home"), root_path, :class => "brand pull-left" %>
	      <div class="nav-collapse pull-right">
	        <div class="btn-group">
	        	<% if signed_in? %>
					    <button type="button" class="btn btn-default"><%= link_to (I18n.t "application.view.layouts.header.logout"), auth_signout_path, method: "delete" %></button>
					  <% else %>
					    <button type="button" class="btn btn-default"><%= link_to (I18n.t "application.view.layouts.header.login"), auth_signin_path %></button>
					  <% end %>>
					</div>
	      </div>
	    </div>
	  </div>
	</div>

	<ol class="breadcrumb">
		<%= render_breadcrumbs :tag => :li, :separator => " / " %>
	</ol>
</header>
